
  
{% extends 'base.html'%}
{%block title %} | Circles {% endblock %}
{% block content %}




<!-- Showcase -->
<section id="showcase" style="padding-top: 2rem; padding-bottom: 0rem; min-height: 0px; ">
  <div class="container text-center">
    <div class="home-search p-5 " style="min-height: 250px;">
      <div class="overlay p-5" style="background: rgba(0, 118, 197, 0.89); min-height: 0px; padding: 1.5rem !important;">
        <h1 class="display-4 mb-4">
          חיפוש פיעלויות
        </h1>
        <div class="search">
          <form action="{% url 'search' %}">
            <!-- Form Row 1 -->
            <div class="form-row">
              <div class="col-md-2 mb-2"></div>
              <div class="col-md-4 mb-3">
                <label class="sr-only">Keywords</label>
                <input type="text" name="keywords" class="form-control" placeholder="חיפוש לפי שם חוג">
              </div>
 

 
              <div class="col-md-4 mb-3">
                <label class="sr-only">State</label>
                <select name="yashuv" class="form-control">
                  <option selected="true" disabled="disabled">חיפוש לפי ישוב</option>
 
                  {% for key,value in yasuvim_choices.items %}
                  <option value= "{{ key }}" > {{value}} </option>
                  {% endfor %}
                  
                </select>
              </div>
            </div>

            <button class="btn_lnk btn-block mt-1" style="width: 35%;"   stype="submit">חפש</button>
          </form>
        </div>
      </div>
    </div>
  </div>
 </section>



<!--Alerts--> 
{% include 'partials/_alerts.html' %}







  <!-- Breadcrumb --> 
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"> <a href="{% url 'admin:index' %}"></a>  <il class="fas fa-home" > </i>  עמוד ניהול </a></li>
            <li class="breadcrumb-item active ">  פעילויות  </li>
           
           
          
        
        </ol>
      </nav>
    </div>
  </section>


<section id="dashboard" class="py-2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
       
          <h5>  רשימת פעילויות קיימות :</h5>
          {% if circles  %}
              <table class="table col-md-12">
                <thead>
                  <tr>
                    <th scope="col-md-4 ">שם חוג</th>
                    <th scope="col-md-4 ">שם מדריך</th>
                    <th scope="col-md-4">שם ישוב</th>
                    <th scope="col-md-4">תאריך התחלה</th>
                    
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for circle in circles %}
                      <tr>
                       
                        <td>{{ circle.title }}</td>
                        <td>{{ circle.instructor }}</td>
                        <td>{{ circle.yashuv }}</td>
                        <td>{{ circle.start_date|date:"d.m.Y" }}</td>
                        
                        <td>

                  
                      <a class="btn btn-light col-md-12" href="{% url 'adminCircle' circle.id  %}">כנס כאן</a>
                        
                        </td>
                      </tr>
                   
                  {% endfor %}
                </tbody>
              </table>
              <div class="col-md-12">
                {% if circles.has_other_pages %}
        
                  <ul class="pagination" style="margin-bottom: 3rem;">
                      {% if circles.has_previous %}
                        <li class="page_item"> 
                          <a href="?page={{circles.previous_page_number}}" class="page-link"> &laquo; </a>
                        </li>
                      {% else %}
                        <li class ="page-item disabled">
                          <a  class="page-link">  &laquo; </a>
                        </li>
                      {%endif%}  
                      {% for i in circles.paginator.page_range %}
                         {% if circles.number == i %}
                            <li class ="page-item active">
                              <a class="page-link">  {{i}} </a>
                            </li> 
                         {% else%}
                          <li class ="page-item ">
                              <a href="?page={{i}}" class="page-link"> {{i}} </a>
                          </li>
                         {% endif %}
                      {% endfor %}
                      {% if circles.has_next %}
                          <li class="page_item"> 
                            <a href="?page={{circles.next_page_number}}" class="page-link"> &raquo; </a>
                          </li>
                      {% else %}
                        <li class ="page-item disabled">
                          <a  class="page-link">  &laquo; </a>
                        </li>
                      {%endif%}  
                  </ul>
        
                {%endif%}
        
          </div>
              
          {% else %}
          <p></p>
          <p> אין כרגע חוג שאתה מדריך </p>
          {% endif %}

          


      </div>
    </div>
  </div>

  <section >

{% endblock %}
