{% extends 'base.html'%}
{%block title %} | Dashboard{% endblock %}
{% block content %}

  <!-- Breadcrumb -->
<section id="showcase-inner" class="py-4 text-green">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12 dar"  >
        <h1 class="display-5">לוח ניהול פעילויות</h1>
        <h2 class="lead"></b>נהל פעיליות ודווח נוכחות</b></h2>
      </div>
    </div>
  </div>
</section>


<!--Alerts--> 
{% include 'partials/_alerts.html' %}

<!-- Breadcrumb -->
<section id="bc" class="mt-4">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          
            <i class="fas fa-home"></i>ראשי</a>
        </li>
        <!--<li class="breadcrumb-item active"> Dashboard</li>-->
      </ol>
    </nav>
  </div>
</section>


<section id="dashboard" class="py-2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>שלום,  {{user}}</h2>
  
        
          <h5> רשימת החוגים שלך :</h5>

          {% if circles  %}
              <table class="table col-md-12">
                <thead>
                  <tr>
                   
                    <th scope="col-md-4 ">שם חוג</th>
                    <th scope="col-md-4">שם ישוב</th>
                    

                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for circle in circles %}
                    {% if circle.instructor == user  %}
                  
                      <tr>
                       
                        <td>{{ circle.title }}</td>
                        <td>{{ circle.yashuv }}</td>
                        
                        <td>

                  
                      <a class="btn btn-light col-md-12" href="{% url 'circle' circle.id  %}">כנס כאן</a>
                        
                        </td>
                      </tr>
                    {% endif %}
                  {% endfor %}
                </tbody>
              </table>
          {% else %}
          <p></p>
          <p> אין כרגע חוג שאתה מדריך </p>
          {% endif %}

          <div class="row">
            <div class="col-md-12">
    
    
                  {% if circles.has_other_pages %}
    
                    <ul class="pagination">
                        {% if circles.has_previous %}
                          <li class="page_item"> 
                            <a href="?page={{circles.previous_page_number}}" class="page-link"> &laquo; </a>
                          </li>
                        {% else %}
                          <li class ="page-item disabled">
                            <a  class="page-link">  &laquo; </a>
                          </li>
                        {%endif%}  
                        {% for i in circles.paginator.page_range %}
                           {% if circles.number == i %}
                              <li class ="page-item active">
                                <a class="page-link">  {{i}} </a>
                              </li> 
                           {% else%}
                            <li class ="page-item ">
                                <a href="?page={{i}}" class="page-link"> {{i}} </a>
                            </li>
                           {% endif %}
                        {% endfor %}
                        {% if listings.has_next %}
                            <li class="page_item"> 
                              <a href="?page={{circles.next_page_number}}" class="page-link"> &raquo; </a>
                            </li>
                        {% else %}
                          <li class ="page-item disabled">
                            <a  class="page-link">  &laquo; </a>
                          </li>
                        {%endif%}  
                    </ul>
    
                  {%endif%}
    
            </div>
          </div>


      </div>
    </div>
  </div>
</section>




{% endblock %}




