{% extends 'base.html'%}
{%block title %} | Meetings {% endblock %}
{% block content %}

  <!-- Breadcrumb -->
<section id="showcase-inner" class="py-4 text-green">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12 dar"  >
        <h1 class="display-5">מפגשים</h1>
      </div>
    </div>
  </div>
</section>


<!--Alerts--> 
{% include 'partials/_alerts.html' %}

  <!-- Breadcrumb --> 
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <il class="fas fa-home" > </i>  ניהול פעילויות</a>
          </li>
          <li class="breadcrumb-item active"> {{circle.title}} </li>
        </ol>
      </nav>
    </div>
  </section>


<section id="dashboard" class="py-2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>שלום,  {{user}}</h2>
  
        
          <h5> {{circle.title}} מפגשים:</h5>

          {% if meetings  %}
              <table class="table col-md-12">
                <thead>
                  <tr>
                   
                    <th scope="col-md-4 ">תאריך פגישה</th>
                    <th scope="col-md-4 "></th>
                    
                    

                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  
                  {% for meeting in meetings %}
                
                    {% if circle.id == meeting.circle.id  %}
                        {% if circle.instructor == user  %}
                      
                            <tr>
                            
                              
                            
                              <td>
                                {{ meeting.date_time|date:"d.m.Y"}} 
                              <td>

                        
                            <a class="btn btn-light col-md-12" href="{% url 'meeting' circle.id meeting.id %}">כנס כאן</a>
                            
                              
                              </td>
                            </tr>
                        {% endif %}
                    {% endif %}
                  {% endfor %}
                </tbody>
              </table>
          {% else %}
          <p></p>
          <p> אין כרגע חוג שאתה מדריך </p>
          {% endif %}




      </div>
    </div>
  </div>
</section>




{% endblock %}




